[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.16.4"
pandas = "==1.0.3"
stockstats = "*"
scikit-learn = "==0.21.0"
gym = "==0.15.3"
stable-baselines = {extras = ["mpi"], version = "*"}
tensorflow = "==1.15.4"
joblib = "==0.15.1"
matplotlib = "==3.2.1"
pytest = "<6.0.0,>=5.3.2"

[dev-packages]

[requires]
python_version = "3.8"
